.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.headerDiv{
    height: 7vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
   
}

.mainDiv{
    height: 100vh;
    width: 100vw;
    background-color: grey;
    display: flex;
}
.dashboardDiv{
    width: 15vw;
    background-color: white;
    /* border: 1px solid white; */
    /* border-radius: 8px; */
    /* margin: 1vh; */
    background: rgb(48, 32, 66);
    /* border-right: 2px solid #e6e6e6; */
    display: flex;
    flex-direction: column;
    padding-left: 1px;
}
.active{
    border: 1px solid rgb(224, 111, 70);
    border-radius: 20px;
    padding: 8px 5px 8px 5px;
    background: linear-gradient(to right, rgb(225, 116, 87), rgb(218 168 73));
    /* font-size: 1.2vw; */
}

.contentDiv{
    width: 85vw;
    background-color: white;
    border: 1px solid white;
    /* border-radius: 8px; */
    /* margin: 1vh; */
    padding: 2vh;
    position: relative;
    overflow: scroll;
    /* background: linear-gradient(to bottom, rgb(201 182 235), rgb(252 239 255)); */
}
.popupDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 9999; 
    width: 70vw;
    height: 70vh;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow: auto;
}



.custDiv{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vh;
    height: 5vh;
    border: 1px solid #721072;
    border-radius: 8px;
    background: #721072;
    color: white;
    margin-bottom: 1vw;
}
.selectfields{
    display: flex;
    justify-content: center;
    gap: 5vw;
}
.selectdd{
    height: 4vh;
    width: 15vw;
    border: 1px solid grey;
    border-radius: 6px;
}

.error{
    color: red;
}